[submodule "docs/rwot1-sf"]
	path = docs/rwot1-sf
	url = https://github.com/WebOfTrustInfo/rwot1-sf
[submodule "docs/rwot2-id2020"]
	path = docs/rwot2-id2020
	url = https://github.com/WebOfTrustInfo/rwot2-id2020
[submodule "docs/rwot3-sf"]
	path = docs/rwot3-sf
	url = https://github.com/WebOfTrustInfo/rwot3-sf
[submodule "docs/rwot4-paris"]
	path = docs/rwot4-paris
	url = https://github.com/WebOfTrustInfo/rwot4-paris
[submodule "docs/rwot5-boston"]
	path = docs/rwot5-boston
	url = https://github.com/WebOfTrustInfo/rwot5-boston
[submodule "docs/rwot6-santabarbara"]
	path = docs/rwot6-santabarbara
	url = https://github.com/WebOfTrustInfo/rwot6-santabarbara
[submodule "docs/self-sovereign-identity"]
	path = docs/self-sovereign-identity
	url = https://github.com/WebOfTrustInfo/self-sovereign-identity
[submodule "docs/rwot7-toronto"]
	path = docs/rwot7-toronto
	url = https://github.com/WebOfTrustInfo/rwot7-toronto
[submodule "docs/rwot8-barcelona"]
	path = docs/rwot8-barcelona
	url = https://github.com/WebOfTrustInfo/rwot8-barcelona
